<div class="row">
    <div id="singlewrapper" class="col-md-8">
        <div class="content nopad">
            <div class="item-single-wrapper">
                <div class="item-box">
                    <!-- end item-media -->
                    <div class="item-desc">
                        {{ model.description_one_client_rel.description }}
                    </div>
                    <!-- end item-desc -->
                </div>
                <!-- end item-box -->
            </div>
            <!-- end item-single-wrapper -->
        </div>
        <!-- end content -->
        <div class="content-after boxs">
            <div class="row">
                <div class="col-md-12 general-title">
                    <h4>Other {{ model.vendor_rel.company }} Items <span class="hidden-xs"><a href="public-profile.html">View all</a></span></h4>
                    <hr>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="item-box">
                        <div class="item-media entry">
                            <img src="upload/item_01.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="item-author">
                                    <a href="public-profile.html"><img src="upload/member_01.jpg" class="img-circle" alt=""> Amanda</a>
                                </div>
                                <!-- end author -->
                            </div>
                            <div class="theme__button">
                                <p>
                                    <a href="single-item.html" title="">${{ model.price|dump }}</a>
                                </p>
                            </div>
                        </div>
                        <!-- end item-media -->
                        <h4><a href="single-item.html">Weather Forecast</a></h4>
                        <p>
                            <small><a href="single-item.html"><i class="fa fa-eye"></i> 893</a></small>
                            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
                        </p>
                    </div>
                    <!-- end item-box -->
                </div>
                <!-- end col -->
                <div class="col-md-4 col-sm-6">
                    <div class="item-box">
                        <div class="item-media entry">
                            <img src="upload/item_02.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="item-author">
                                    <a href="public-profile.html"><img src="upload/member_02.jpg" class="img-circle" alt=""> Bob</a>
                                </div>
                                <!-- end author -->
                            </div>
                            <div class="theme__button">
                                <p>
                                    <a href="single-item.html" title="">$5</a>
                                </p>
                            </div>
                        </div>
                        <!-- end item-media -->
                        <h4><a href="single-item.html">Google Map Collection</a></h4>
                        <p>
                            <small><a href="single-item.html"><i class="fa fa-eye"></i> 221</a></small>
                            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
                        </p>
                    </div>
                    <!-- end item-box -->
                </div>
                <!-- end col -->
                <div class="col-md-4 col-sm-6">
                    <div class="item-box">
                        <div class="item-media entry">
                            <img src="upload/item_03.jpg" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="item-author">
                                    <a href="public-profile.html"><img src="upload/member_03.jpg" class="img-circle" alt=""> Selena</a>
                                </div>
                                <!-- end author -->
                            </div>
                            <div class="theme__button">
                                <p>
                                    <a href="single-item.html" title="">$5</a>
                                </p>
                            </div>
                        </div>
                        <!-- end item-media -->
                        <h4><a href="single-item.html">Podcast App</a></h4>
                        <p>
                            <small><a href="single-item.html"><i class="fa fa-eye"></i> 412</a></small>
                            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 31</a></small>
                        </p>
                    </div>
                    <!-- end item-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end content after -->
    </div>
    <!-- end singlewrapper -->

    <div id="sidebar" class="col-md-4">
        <div class="boxes boxs">
            <div class="item-price text-center">
                <p>
                    {{ model.price }}
                </p>
                <em><a href="#">Regular License</a></em>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <hr>
                <small><a href="#"><i class="fa fa-star-o"></i> Add to Favorites</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-heart-o"></i> Like it</a> </small>
                <hr>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="#" class="btn btn-default">View Demo</a>
                <ul class="list-inline social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <!-- end price -->
        </div>
        <!-- end boxes -->
        <div class="boxes boxs">
            <div class="desiger-details text-center">
                <img src="upload/member_05.jpg" class="img-circle" alt="">
                <h4><a href="public-profile.html">Bob - Envision Team</a></h4>
                <small><a href="#"><i class="fa fa-envelope-o"></i> Send a Message</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-user-plus"></i> Follow Bob's</a> </small>
            </div>
            <!-- end designer -->
        </div>
        <!-- end boxes -->
        <div class="boxes boxs">
            <div class="item-details">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            Release on:
                        </td>
                        <td>
                            2016-02-21
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Version:
                        </td>
                        <td>
                            0.1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Included:
                        </td>
                        <td>
                            Zip, AI, EPS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            File size:
                        </td>
                        <td>
                            5Mb
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Requirements:
                        </td>
                        <td>
                            Illustrator
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Document:
                        </td>
                        <td>
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Support:
                        </td>
                        <td>
                            Life Time
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tags:
                        </td>
                        <td>
                            <div class="product-tags">
                                <a href="#">IOS App</a>
                                <a href="#">UI Kit</a>
                                <a href="#">PSD Version</a>
                                <a href="#">Weather</a>
                                <a href="#">Creative</a>
                                <a href="#">Blue</a>
                            </div>
                            <!-- en tags -->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end item-details -->
        </div>
        <!-- end boxes -->
    </div>
    <!-- end sidebar -->
</div>
